:root {
  --background: #0a2e36;
  --squares: #036d19;
  --buttons: #09a129;
}

* {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   height:100vh;
   background: var(--background);
}

#root {
   height:100%;
}

.App {
  height:100%;
  background: var(--background);
}

.game {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOARD */

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info {
  font-size: 20px;
}

.board-row {
  height: 115px;
  width: 330px;
  display: flex;
}

.board-row span {
  height: 100%;
  width: 100%;
  margin: 5px;
}

.squares {
  height: 100%;
  width: 100%;
  background: var(--squares);
  border: 0;
  font-size: 90px;
  border-radius: 5px;
}

/* GAME INFO */

.sort {
  margin-top: 15px;
  border: 0;
  padding: 6px;
  border-radius: 10px;
  background: var(--buttons);
  min-width: 100px;
  font-size: 20px;
}

.status {
  font-size: 25px;
}

.item-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.item-content div {
  text-align: center;
}

.item-content button {
  background: var(--buttons);
  border: 0;
  border-radius: 15px;
  height: 25px;
  width: 120px;
}

ol {
  display: flex;
  flex-direction: column;
}

.list {
  height: 300px;
}

li.item {
  font-size: 15px;
}

@media screen and (max-width: 700px) {
  .game {
    flex-direction: column;
  }
}
